h1{
  background-color: hsl(0, 0%, 20%);
  color: rgb(255, 254, 206);
  font-size: 28px;
}

p{
  background-color: rgb(255, 254, 206);
  color: hsl(0, 0%, 20%);
}

body{
  background-color:rgb(255, 254, 206);
  max-width: 60%;
  margin: auto;
}

footer{
  text-align: center;
  font-size: 8pt;
}

ol{
  list-style: lower-roman;
  margin-top: 10px;
  margin-left: 50px;
}

ul{
  list-style-type: disc;
  margin-top: 10px;
  margin-left: 50px;
}